# Root env — used by docker-compose.yml
POSTGRES_USER=parking
POSTGRES_PASSWORD=parking
POSTGRES_DB=smart_parking
# 5433 se 5432 përdoret nga projekti "Prizren Smart City" në këtë makinë
POSTGRES_PORT=5433

JWT_ACCESS_SECRET=changeme_access
JWT_REFRESH_SECRET=changeme_refresh
