# Dependencies
node_modules/

# Env files
.env
.env.local
.env.*.local

# Build output
.next/
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
smart-parking-backend/prisma/migrations/dev/

# Docker
docker-compose.override.yml

smart-parking-backend/tsconfig.build.tsbuildinfo
.claude/scheduled_tasks.lock
